:root {
  --app-header-height: 4rem;
  --app-gutter: .25rem;
  --app-gutter-xl: .5rem;

  --app-font-size: .75rem;
  --app-line-height: 1rem;

  --v-audio-player-header-height: 1rem;
  --v-audio-player-iframe-height: 166px;
  --v-audio-player-header-spacing: 2rem;

  --app-color-purple: #9678b4;
  --app-color-orange: #ed6936;
}
