:root {
  --app-header-height: 4.25rem;
  --app-gutter: .25rem;
  --app-gutter-xl: .5rem;

  --app-font-size: .65rem;
  --app-line-height: 1.25em;

  --v-audio-player-header-height: 1rem;
  --v-audio-player-iframe-height: 166px;
  --v-audio-player-header-spacing: 2rem;

  --app-color-primary: #30C879;
  --app-color-secondary: #FF7F65;
  --app-color-tertiary: #448A62;
  --app-color-grey:   #c7c7c7;

  --app-bg-glow-color: rgba(255, 255, 255, 0.4);
  --app-bg-glow-filter: blur(20px);

  @media (max-width: 1200px) {
    --app-header-height: 2.5rem;
  }
}
