html, body {
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'ABCOracleWebSite', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: normal;
  font-variation-settings: "slnt" 0, "wght" 500;
  position: relative;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-size: 30px;
  background: var(--app-color-primary);

  &.nuxt-watch-falk-is-active {
    background-image: none;
  }
}

body {
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  font-variation-settings: "slnt" 0, "wght" 400;

  &.newsletter-is-open {
    overflow: hidden;
  }
}

button {
  all: unset;
  cursor: pointer;
}
