@use "./___variables";
@use "./__init";
@use "./_font-loader";
@use "./typo";

#__nuxt {
  width: 100%;
}

img {
  display: block;
}

a {
  color: inherit;
}

.app-button {
  display: block;
  box-sizing: border-box;
  border: solid;
  padding: var(--app-gutter-xl);
  border-radius: var(--app-gutter-xl);
  text-decoration: none;
}

.app-button-grey {
  text-decoration: none;
  white-space: nowrap;
  display: block;
  color: black;
  background: var(--app-color-grey);
  padding: .2em .5rem .3em;
  border-radius: 1rem;

  &.app-button-grey--inverse {
    color: var(--app-color-grey);
    background: black;
  }
}


blockquote {
  text-align: right;
  margin: 1rem 0;
}


.app-remove-first-last-child-margin {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}
