@use "./___variables";
@use "./__init";
@use "./_font-loader";
@use "./typo";

#__nuxt {
  width: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  text-align: right;
  margin: 1rem 0;
}


.app-remove-first-last-child-margin {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}
