@use "./___variables";
@use "./__init";
@use "./_font-loader";
@use "./animations";
@use "./typo";

#__nuxt {
  width: 100%;
}

img {
  display: block;
}

a {
  color: inherit;
}

.app-button {
  font-variation-settings: "slnt" 0, "wght" 500;
  display: block;
  box-sizing: border-box;
  border: solid;
  padding: var(--app-gutter-xl);
  border-radius: var(--app-gutter-xl);
  text-decoration: none;
}

.app-button-grey {
  all: unset;
  cursor: pointer;
  font-variation-settings: "slnt" 0, "wght" 500;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  color: black;
  background: var(--app-color-grey);
  padding: .2em .5rem .3em;
  border-radius: 1rem;
  margin: 0 !important;
  transition: transform .25s ease-in-out;

  &.app-button-grey--inverse, &.router-link-active {
    color: var(--app-color-grey);
    background: black;
  }

  &:hover {
    color: white !important;
    background: black !important;
    transform: scale(1.05);
  }

  &.app-button-grey--with-shadow {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
  }

  &.app-button-grey--with-glow-effect {
    background: var(--app-bg-glow-color);
    backdrop-filter: var(--app-bg-glow-filter);

    &.app-button-grey--inverse, &.router-link-active {
      color: white;
      background: black;
    }
  }
}


blockquote {
  text-align: right;
  margin: 1rem 0;
}


.app-remove-first-last-child-margin {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.app-remove-first-child-margin {
  > *:first-child {
    margin-top: 0 !important;
  }
}

.app-remove-last-child-margin {
  > *:last-child {
    margin-bottom: 0 !important;
  }
}


// vue transitions

.v-transition-opacity-enter-active,
.v-transition-opacity-leave-active {
  transition: all .25s ease-out;

  .v-transition-opacity__translate{
    transition: all .25s ease-out;
  }
}

.v-transition-opacity-enter-from {
  opacity: 0;

  .v-transition-opacity__translate {
    transform: translateY(1rem);
  }
}

.v-transition-opacity-enter-to {
  opacity: 1;

  .v-transition-opacity__translate {
    transform: translateY(0);
  }
}

.v-transition-opacity-leave-from {
  opacity: 1;

  .v-transition-opacity__translate {
    transform: translateY(0);
  }
}

.v-transition-opacity-leave-to {
  opacity: 0;

  .v-transition-opacity__translate {
    transform: translateY(-1rem);
  }
}
