h2, .app-font-h2 {
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  margin-top: 4rem;
  margin-bottom: 1rem;
  max-width: 12.5em;
}

.app-font-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3, .app-font-h3 {
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  max-width: none;
}

h4, .app-font-h4 {
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  text-transform: uppercase;
  margin-top: calc(var(--app-line-height) * 2);
  margin-bottom: var(--app-line-height);
  max-width: none;
}

p, .app-font-base {
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  margin-top: 0;
  margin-bottom: var(--app-line-height);
  max-width: none;
}

.app-font-small {
  line-height: .75rem;
  font-size: .65rem;
  margin-top: 0;
  margin-bottom: .75rem;
  max-width: none;
}

.app-font-extra-small {
  line-height: .5rem;
  font-size: .5rem;
  margin-top: 0;
  margin-bottom: .5rem;
  max-width: none;
}

