.app-font-mono, code {
  font-family: 'ABCOracleWebSite triple', monospace;

  &.app-font-mono--force {
    font-family: 'ABCOracleWebSite triple', monospace !important;
  }
}

.nuxt-watch-falk-is-active * {
  font-family: 'ABCOracleWebSite', sans-serif !important;
}

h1, .app-font-h1 {
  line-height: 1.1em;
  font-size: 2rem;
  font-family: 'ABCOracleWebSite triple', monospace;
  font-weight: 700;

  @media (max-width: 900px) {
    font-size: 1.5rem;
  }

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

h2, .app-font-h2 {
  font-family: 'ABCOracleWebSite triple', monospace;
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  text-align: center;
  max-width: 20em;
  margin: 3rem auto 1rem;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.1em;

  @media (max-width: 900px) {
    font-size: 1.15rem;
  }

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

.app-font-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

h3, .app-font-h3 {
  font-family: 'ABCOracleWebSite triple', monospace;
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  max-width: none;
  font-style: italic;
  text-align: center;

  h2 + &,
  .app-font-h2 + & {
    margin-top: 1rem;
  }

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

h4, .app-font-h4 {
  font-family: 'ABCOracleWebSite triple', monospace;
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 600;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  max-width: none;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

h5, .app-font-h5 {
  font-family: 'ABCOracleWebSite triple', monospace;
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-weight: normal;
  font-variation-settings: "slnt" 0, "wght" 800;
  margin-top: calc(var(--app-line-height) * 2);
  margin-bottom: var(--app-line-height);
  max-width: none;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

p, .app-font-base {
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  margin-top: 0;
  margin-bottom: var(--app-line-height);
  max-width: none;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

.app-font-small {
  line-height: .75rem;
  font-size: .65rem;
  margin-top: 0;
  margin-bottom: .75rem;
  max-width: none;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

.app-font-extra-small {
  line-height: .5rem;
  font-size: .5rem;
  margin-top: 0;
  margin-bottom: .5rem;
  max-width: none;

  .nuxt-watch-falk-is-active & {
    text-align: left;
    line-height: 1.25em;
  }
}

.app-font-without-max-width {
  max-width: none !important;
}
